<script>
import 'carbon-components-svelte/css/white.css';

import { post, get } from '../helpers/transferHelper';
import { onMount } from 'svelte';

import moment from 'moment';
import ConfirmationBox from '../components/confirmationBox.svelte';
import Nav from '../components/nav.svelte';
import { API_PATH } from '../helpers/config';
import {
	Form,
	FormGroup,
	Checkbox,
	RadioButtonGroup,
	RadioButton,
	Select,
	SelectItem,
	DatePicker,
	DatePickerInput,
	TextInput,
	Button,
	DataTable,
	Dropdown,
	ComboBox,
	NumberInput
} from 'carbon-components-svelte';
import { dev } from '$app/env';

let res = [];

const pushData = async (e) => {
	if (dev) {
		console.log(e);
		console.log(e.target.ProjectId.value);
		console.log(bankCodeIndex);
		console.log(e.target.Amount.value);
	}
	res = [];
	const form = e.target;
	const projectId = form.ProjectId.value;
	const acNo = form.AcNo.value;
	const distraintNo = form.DistraintNo.value;
	const chequeNo = form.ChequeNo.value;
	const chequeDate = form.ChequeDate.value;
	const payerCode = form.PayerCode.value;
	const payeeCode = form.PayeeCode.value;
	const bankCode = bankCodeList[bankCodeIndex].id;
	const amount = form.Amount.value;

	const r = await post(`${API_PATH.addDepositByCashOrCheque}`, {
		projectId,
		acNo,
		distraintNo,
		chequeNo,
		chequeDate,
		payerCode,
		payeeCode,
		bankCode,
		chequeAmt:amount
	});
	if (r.ok) {
		res = [(await r.json())];
	}else{
		alert('Please check the inputs')
	}
	if (dev) {
		console.log(res);
	}
};

let bankCode = null;
let bankCodeIndex;

const bankCodeList = [
	{ id: '000106', text: 'SinoRealEstateAgencyLtd' },
	{ id: '100001', text: 'HongKongGovernment' },
	{ id: '100002', text: 'RegistrarDistrictCourt' },
	{ id: '100003', text: 'DistrictCourtSuitorsFund' },
	{ id: '100004', text: 'HangSengBank' },
	{ id: '100005', text: 'HongKongBank' },
	{ id: '100006', text: 'BankOfChina' },
	{ id: '100007', text: 'StandardCharteredBank' },
	{ id: '100008', text: 'Cash' }
];
</script>

<Nav>
	<Form
		on:submit="{async (e) => {
			await pushData(e);
		}}">
		<TextInput labelText="ProjectId" placeholder="ProjectId" name="ProjectId" required />
		<TextInput labelText="AcNo" placeholder="AcNo" name="AcNo" required />
		<TextInput labelText="DistraintNo" placeholder="DistraintNo" name="DistraintNo" required />
		<TextInput labelText="ChequeNo" placeholder="ChequeNo" name="ChequeNo" required />
		<TextInput
			labelText="ChequeDate"
			placeholder="yyyyMMdd (20220131)"
			name="ChequeDate"
			required />
		<TextInput labelText="PayerCode" placeholder="PayerCode" name="PayerCode" required />
		<TextInput labelText="PayeeCode" placeholder="PayeeCode" name="PayeeCode" required />
		<ComboBox
			bind:this="{bankCode}"
			titleText="BankCode or Cash"
			bind:selectedIndex="{bankCodeIndex}"
			items="{bankCodeList}"
			required />
		<NumberInput label="Amount" name="Amount" step="0.01" required />
		<Button type="submit">Send</Button>
	</Form>

	{#if res.length && res[0]}
		<DataTable
			headers="{Object.keys(res[0]).map((v) => ({ key: v, value: v }))}"
			rows={res.map((v, i)=>({...v, id:i}))}
			style="overflow: auto;"
			 />
	{/if}
</Nav>
