<script>
import 'carbon-components-svelte/css/white.css';
import Nav from '../components/nav.svelte';
</script>

<Nav>
	<h1>Welcome</h1>
	<h1>Welcome to SvelteKit</h1>
	<p>Visit <a href="./test">kit.svelte.dev</a> to read the documentation</p>
</Nav>
