<script>
import 'carbon-components-svelte/css/white.css';

import { post, get } from '../helpers/transferHelper';
import { onMount } from 'svelte';
import { DOMAIN } from "../helpers/config";
import moment from 'moment';
import ConfirmationBox from '../components/confirmationBox.svelte';
import Nav from '../components/nav.svelte';
import { API_PATH } from '../helpers/config';
import {
	Form,
	Select,
	Button,
	TextInput
} from 'carbon-components-svelte';
import { dev } from '$app/env'; 

let items = [
		{ level: '-1', text: `Debug` },
		{ level: '0', text: `Info` },
		{ level: '1', text: `Warn` },
		{ level: '2', text: `Error` },
		{ level: '3', text: `Fatal` },
	];

let selected;

let selectedText = '';

let res = [];

const pushData = async (e) => {
	
	const form = e.target;
	const message = form.message.value;

	if (confirm(`Confirm to add log ?`)) {
	let level = selected.level;	
	
	post(`${API_PATH.writeLog}`,{level,
		message}
	).then(response => {
		if (response.ok) {
			alert(message+" Added");
		}
		else
		{
			alert("Added failure");
			console.log(response);
		}
	});

	}
}
</script>
<Nav>
	<Form
		on:submit="{async (e) => {
			pushData(e);
		}}">
	<table>
		<tr>
		<td style="width:100px">Level&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				<select bind:value={selected} on:change="{() => selectedText = ''}" style="max-width:100%;width:400px;">
					{#each items as item}
						<option value={item}>
							{item.text}
						</option>
					{/each}
				</select>
			</td>
		</tr>		
		<tr>
		<td >Message</td>
			<td>
				<TextInput placeholder="message" name="message" required style="margin-top:20px;max-width:100%;width:400px;height:75px"/>
			</td>
		</tr>		
		<tr>	
			<td></td>
			<td>
				<Button type="submit" style="margin-top:20px;">Write Log</Button>
			</td>
		</tr>
	</table>
	</Form>
</Nav>
