<script>
	import Nav from '../components/nav.svelte';
	import 'carbon-components-svelte/css/white.css';

	import {
		FluidForm,
		TextInput,
		PasswordInput,
		Grid,
		Row,
		Column,
		Button,
		Link,
        Tile,
	} from 'carbon-components-svelte';
	import { post } from '../helpers/transferHelper';

	import { API_PATH } from '../helpers/config';
	import userStorage, { user } from '../components/userStorage';
	import { dev } from '$app/env';



	var _isLoggedIn = false;
	$: console.log(_isLoggedIn);

	user.subscribe((v) => {
		console.log('sub', v);
		if (v) {
			_isLoggedIn = true;
		} else {
			_isLoggedIn = false;
		}
	});

	const login = async (e) => {
		const form = e.target;
		const username = form.username.value;
		const password = form.password.value;

		const r = await post(`${API_PATH.auth}`, { username, password });
		if (r.ok) {
			const res = await r.json();
			if (dev) {
				console.log(res);
			}
			userStorage.saveUser(res);
        }else{
            alert('The account is not available');
        }
	};
</script>

<Nav>
	<Grid>
		<Row style="justify-content: center;">
			<Column sm={1}>
				{#if !_isLoggedIn}
					<FluidForm on:submit={login}>
						<TextInput
							name="username"
							labelText="User name"
							placeholder="Enter user name..."
							required
						/>
						<PasswordInput
							name="password"
							required
							type="password"
							labelText="Password"
							placeholder="Enter password..."
						/>
                        <hr>
						<Button type={'submit'}>Login</Button>
					</FluidForm>
				{:else}
					<Tile>Logged In</Tile>
				{/if}
			</Column>
		</Row>
	</Grid>
</Nav>

<style>
	.reg {
		margin: 8px;
	}
</style>
