<script>
	import Nav from '../components/nav.svelte';
	import 'carbon-components-svelte/css/white.css';

	import {
		FluidForm,
		TextInput,
		PasswordInput,
		Grid,
		Row,
		Column,
		Button,
		Link,
		Tile
	} from 'carbon-components-svelte';
	import { post } from '../helpers/transferHelper';
	import { API_PATH } from '../helpers/config';
	import userStorage, { user } from '../components/userStorage';
	import { dev } from '$app/env';

	const reg = async (e) => {
		const form = e.target;
		const username = form.username.value;
		const password = form.password.value;

		const r = await post(`${API_PATH.reg}`, { username, password });
		if (r.ok) {
			if (dev) {
				console.log(res);
			}
            alert('Success') 
		}
	};
</script>

<Nav>
	<Grid>
		<Row style="justify-content: center;">
			<Column sm={1}>
                <FluidForm on:submit={reg}>
                    <TextInput
                        name="username"
                        labelText="User name"
                        placeholder="Enter user name..."
                        required
                    />
                    <PasswordInput
                        name="password"
                        required
                        type="password"
                        labelText="Password"
                        placeholder="Enter password..."
                    />
                    <hr>
                    <Button type={'submit'}>Register</Button>
                </FluidForm>
			</Column>
		</Row>
	</Grid>
</Nav>

<style>
	.reg {
		margin: 8px;
	}
</style>
