<script>
import 'carbon-components-svelte/css/white.css';

import {
    post,
    get
} from '../helpers/transferHelper';

import moment from 'moment';
import ConfirmationBox from '../components/confirmationBox.svelte';
import Nav from '../components/nav.svelte';
import {
    API_PATH
} from '../helpers/config';
import {
    Form,
    FormGroup,
    Checkbox,
    RadioButtonGroup,
    RadioButton,
    Select,
    SelectItem,
    DatePicker,
    DatePickerInput,
    TextInput,
    Button,
    DataTable,
    TileGroup,
    RadioTile,
    Grid,
    Row,
    Column,
    ComboBox,
    NumberInput,
} from 'carbon-components-svelte';
import {
    dev
} from '$app/env';

let projectNames = [];

let selectedProjectName = '';

let res = [];

let radio = '';

const getInfo = async (e) => {
    projectNames = [];
    const r = await get(`${API_PATH.projectName}`, {
        longNameEn: e.target.projectName.value
    });
    projectNames = await r.json();
    if (dev) {
        console.log(res.map((r, i) => ({
            ...r,
            id: i
        })));
    }
};

const updateReimbursement = async (e) => {
	res = [];
    const companyName = e.target.companyName.value;
    const chargeCode = radio;
    const budget = e.target.budget.value;
    const projectName = selectedProjectName;

    if (dev) {
        console.log(companyName);
        console.log(chargeCode, );
        console.log(budget, );
        console.log(projectName);
    }

    const r = await post(`${API_PATH.updateReimbursementOfBudgetManagementFee}`, {
        companyName,
        chargeCode,
        budget,
        projectName
    });


    res = await r.json();
    return r.ok;
};
</script>

<Nav>
    <Form on:submit="{async (e) => await getInfo(e)}">
        <TextInput labelText="projectName" placeholder="projectName" name="projectName" required />
        <Button type="submit">Search</Button>
        <br />
        <br />
        {#if projectNames.length}
        <!-- <TileGroup legend="" on:select="{({ detail }) => (selectedProjectName = detail)}">

{#each projectNames as value}

<RadioTile value="{value}" checked="{selectedProjectName === value}">{value}</RadioTile>

{/each}
        </TileGroup> -->
        <Grid>
            <Row>
                <Column>
                <div>Project: {selectedProjectName}</div>
                <hr />
                </Column>
            </Row>
            <Row>
                <Column style="overflow:auto">
                <RadioButtonGroup selected="{selectedProjectName}">
                    {#each projectNames as value}
                    <RadioButton
                        value="{value}"
                        checked="{selectedProjectName === value}"
                        labelText="{value}"
                        on:change="{(e) => {
                        selectedProjectName = e.target.value;
                        }}">{value}</RadioButton>
                    {/each}
                </RadioButtonGroup>
                </Column>
            </Row>
        </Grid>
        {/if}
    </Form>
    {#if selectedProjectName}
    <br>
    <br>
    <hr>
    <Form on:submit={async (e)=>{updateReimbursement(e)}}>
        <ComboBox
            titleText="Company Name"
            placeholder="Select 1 company"
            items={[
            { id: "0", text: "Sino Estates Management Limited" },
            { id: "1", text: "CHKC Building Management Limited" },
            ]}
            required
            name="companyName"
            ></ComboBox>
        <RadioButtonGroup name="chargeCode" legendText="Charge Code" bind:selected={radio} required>
            <RadioButton labelText="Budget Management Fees" value="B00" />
            <RadioButton labelText="Car Park Management Fees" value="D21" />
        </RadioButtonGroup>
        <NumberInput label="Budget" value={0} min={10} name="budget"></NumberInput>
        <TextInput labelText="Project Name" placeholder="Project Name" name="projectName" value={selectedProjectName} disabled />

        <Button type="submit">Update</Button>
    </Form>
    {/if}

    {#if res.length && res[0]}
    <DataTable
        headers="{Object.keys(res[0]).map((v) => ({ key: v, value: v }))}"
        rows={res.map((v, i)=>({...v, id:i}))}
		style="overflow: auto;"
        ></DataTable>
    {/if}
</Nav>

<style>
:global(.bx--form-item .bx--radio-button-group) {
    display: flex;
    align-items: baseline;
}

:global(.bx--form-item .bx--radio-button-group label) {
    width: 200px;
}
</style>
