<script>
import 'carbon-components-svelte/css/white.css';

import { post, get } from '../helpers/transferHelper';
import { onMount } from 'svelte';

import moment from 'moment';
import ConfirmationBox from '../components/confirmationBox.svelte';
import Nav from '../components/nav.svelte';
import { API_PATH } from '../helpers/config';
import {
	Form,
	FormGroup,
	Checkbox,
	RadioButtonGroup,
	RadioButton,
	Select,
	SelectItem,
	DatePicker,
	DatePickerInput,
	TextInput,
	Button,
	DataTable
} from 'carbon-components-svelte';
import { dev } from '$app/env';
import { toCSharpDate } from '../helpers/dateTimeHelper';

const update = async () => {
	const dataToUpload = table.map((v, i) => ({
		ChargeType: v.charge_type,
		RegionId: v.region_id,
		EffDate: toCSharpDate(v.eff_date),
		ChargeAmt: v.charge_amt
	}));
	if (dev) {
		console.log('update', dataToUpload);
		console.log(JSON.stringify(dataToUpload));
	}

	const r = await post(`${API_PATH.updateChargesWatchmenFeeAndConveyance}`, dataToUpload);

	return r;
};

const table = [
	{
		charge_type: 'B',
		region_id: 'HKG',
		eff_date: '01/14/2001',
		charge_amt: 0
	},
	{
		charge_type: 'B',
		region_id: 'KLN',
		eff_date: '01/14/2001',
		charge_amt: 0
	},
	{
		charge_type: 'B',
		region_id: 'NT',
		eff_date: '01/02/2018',
		charge_amt: 0
	},
	{
		charge_type: 'V',
		region_id: 'HKG',
		eff_date: '01/14/2001',
		charge_amt: 0
	},
	{
		charge_type: 'V',
		region_id: 'KLN',
		eff_date: '01/14/2001',
		charge_amt: 0
	},
	{
		charge_type: 'V',
		region_id: 'NT',
		eff_date: '01/14/2001',
		charge_amt: 0
	}
];
</script>

<Nav>
	<Form
		on:submit="{async (e) => {
			if (confirm(`Confirm to update ?`)) {
				const res = await update();
				if (res.ok) {
					alert('Updated');
				} else {
					alert('Failed');
				}
			}
		}}">
		<DataTable
			headers="{[
				{ key: 'charge_type', value: 'charge_type' },
				{ key: 'region_id', value: 'region_id' },
				{ key: 'charge_amt', value: 'charge_amt' },
				{ key: 'eff_date', value: 'eff_date' }
			]}"
			rows="{table.map((r, i) => ({
				id: i,
				charge_type: r.charge_type,
				region_id: r.region_id,
				charge_amt: r.charge_amt,
				eff_date: r.eff_date
			}))}">
			<svelte:fragment slot="cell" let:row let:cell>
				{#if cell.key === 'charge_amt'}
					<div>
						<TextInput
							type="number"
							value="{cell.value}"
							step="0.01"
							required
							on:change="{(e) => {
								table[row['id']]['charge_amt'] = e.target.value;
							}}" />
					</div>
				{:else if cell.key === 'eff_date'}
					<div>
						<DatePicker
							light
							value="{cell.value}"
							on:change="{(e) => {
								console.log(e, table);
								table[row['id']]['eff_date'] = e.detail;
							}}">
							<DatePickerInput placeholder="mm/dd/yyyy" required helperText="Example: 12/31/1990" />
						</DatePicker>
					</div>
				{:else if cell.key === 'charge_type'}
					{#if cell.value === 'B'}
						Cheque
					{:else}
						Cash
					{/if}
				{:else}
					{cell.value}
				{/if}
			</svelte:fragment>
		</DataTable>
		<Button type="submit">Update</Button>
	</Form>
</Nav>
