<script>
	import 'carbon-components-svelte/css/white.css';

	import { post, get } from '../helpers/transferHelper';
	import { onMount } from 'svelte';

	import moment from 'moment';
	import ConfirmationBox from '../components/confirmationBox.svelte';
	import Nav from '../components/nav.svelte';
	import { API_PATH } from '../helpers/config';
	import {
		Form,
		FormGroup,
		Checkbox,
		RadioButtonGroup,
		RadioButton,
		Select,
		SelectItem,
		DatePicker,
		DatePickerInput,
		TextInput,
		Button,
		DataTable
	} from 'carbon-components-svelte';
import { dev } from '$app/env';

	let res = [];

	const getInfo = async ({ projectCode = '', tenantNo = '', seqNo = '' }) => {
        res  = [];
		const r = await get(`${API_PATH.updateEffDateOfArTenancy}`, { projectCode, tenantNo, seqNo });
		res = await r.json();
		if (dev) {
			console.log(res.map((r, i) => ({ ...r, id: i })));
		}
	};

	const updateEffDate = async ({
		projectCode = '',
		tenantNo = '',
		seqNo = '',
		effDate = '',
		endDate = ''
	}) => {
		const r = await post(`${API_PATH.updateEffDateOfArTenancy}`, {
			projectCode,
			tenantNo,
			seqNo,
			effDate,
			endDate
		});
		if (dev) {
			console.log(res.map((r, i) => ({ ...r, id: i })));
		}
		return r.ok;
	};
</script>

<Nav>
	<Form
		on:submit={async (e) => {
			await getInfo({
				projectCode: e.target.projectCode.value,
				tenantNo: e.target.tenantNo.value,
				seqNo: e.target.seqNo.value
			});
		}}
	>
		<TextInput labelText="projectCode" placeholder="projectCode" name="projectCode" required />
		<TextInput labelText="tenantNo" placeholder="tenantNo" name="tenantNo" required />
		<TextInput labelText="seqNo" placeholder="seqNo" name="seqNo" required />
		<Button type="submit">Search</Button>
	</Form>

	{#if res.length && res[0]}
		<DataTable
			headers={[
				{ key: 'projectCode', value: 'projectCode' },
				{ key: 'tenantNo', value: 'tenantNo' },
				{ key: 'seqNo', value: 'seqNo' },
				{ key: 'end_date', value: 'end_date' },
				{ key: 'eff_date', value: 'eff_date' }
			]}
			rows={res.map((r, i) => ({
				id: i,
				projectCode: r.project_code,
				tenantNo: r.tenant_no,
				seqNo: r.seq_no,
				end_date: r.end_date,
				eff_date: r.eff_date
			}))}
			expandable
		>
			<div slot="expanded-row" let:row>
				<Form
					on:submit={async (e) => {
						if (confirm(`Confirm to update ?`)) {
                        console.log(moment(e.target.endDate.value, 'MM/DD/YYYY').utc(true).toISOString())
							const res = await updateEffDate({
								projectCode: `${row.projectCode}`,
								tenantNo: `${row.tenantNo}`,
								seqNo: `${row.seqNo}`,
								effDate: row.eff_date,
								endDate: moment(e.target.endDate.value, 'MM/DD/YYYY').utc(true).toISOString(),
							});

							if (res) {
								alert('Updated');
                                await getInfo({projectCode:row.projectCode, tenantNo:row.tenantNo, seqNo:row.seqNo});
							}
						}
					}}
				>
					<FormGroup>
						<DatePicker light datePickerType="single">
							<DatePickerInput name="endDate" labelText="End Date" placeholder="mm/dd/yyyy" required helperText="Example: 12/31/1990"/>
						</DatePicker>
					</FormGroup>
					<Button type="submit">Update</Button>
				</Form>
			</div>
		</DataTable>
	{/if}
</Nav>
