<style>
:global(:root) {
	--sino-color: #f14517;
}
:global(header.bx--header) {
	background: var(--sino-color);
}
</style>

<script>
import { dev } from '$app/env';

import { session } from '$app/stores';

import {
	Header,
	HeaderNav,
	HeaderNavItem,
	HeaderNavMenu,
	SideNav,
	SideNavItems,
	SideNavMenu,
	SideNavMenuItem,
	SideNavLink,
	SideNavDivider,
	SkipToContent,
	Content,
	Grid,
	Row,
	Column,
	HeaderUtilities,
	HeaderAction,
	HeaderPanelLinks,
	HeaderPanelLink,
	Form,
	Link
} from 'carbon-components-svelte';
import UserAvatarFilledAlt20 from 'carbon-icons-svelte/lib/UserAvatarFilledAlt20';
import { NAV_MENU } from '../helpers/config';

import userStorage, { user } from '../components/userStorage';

var isSideNavOpen = false;
var isOpenLoginForm = false;
var userContent = {};

var loggedIn = false;

user.subscribe((u) => {
	if (dev) {
		console.log('logged in');
		console.log(u);
	}
	if (u && u.username) {
		userContent = u;
		loggedIn = true;
	} else {
		loggedIn = false;
	}
});

function logout() {
	userStorage.removeUser();
}
</script>

<Header company="SINO" platformName="Support Ticket" bind:isSideNavOpen href="/" id="header">
	<div slot="skip-to-content">
		<SkipToContent />
	</div>

	<HeaderUtilities>
		<HeaderAction
			bind:isOpen="{isOpenLoginForm}"
			icon="{UserAvatarFilledAlt20}"
			closeIcon="{UserAvatarFilledAlt20}"
			text="{loggedIn && userContent && userContent.username}">
			{#if loggedIn && userContent && userContent.username}
				<HeaderPanelLinks>
					<HeaderPanelLink href="/register">Register new user</HeaderPanelLink>
					<HeaderPanelLink on:click="{logout}">Logout {userContent.username}</HeaderPanelLink>
				</HeaderPanelLinks>
			{:else}
				<HeaderPanelLinks>
					<HeaderPanelLink href="/login">Login</HeaderPanelLink>
				</HeaderPanelLinks>
			{/if}
		</HeaderAction>
	</HeaderUtilities>
</Header>

<SideNav bind:isOpen="{isSideNavOpen}" style="box-shadow: 1px 0px black;">
	<SideNavItems>
		{#each NAV_MENU as item}
			<SideNavLink text="{item.title}" href="{item.href}" />
		{/each}
	</SideNavItems>
</SideNav>

<Content>
	<Grid>
		<Row>
			<Column>
				<slot />
			</Column>
		</Row>
	</Grid>
</Content>

